<!-- Validation failure messages -->
<% if @property_info.errors.any? %>
  <% @property_info.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Property Info #<%= @property_info.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_property_info/<%= @property_info.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for property_address -->
      <div class="form-group">
        <label for="property_address" class="control-label">
          Property address
        </label>

        <input type="text" id="property_address" name="property_address" placeholder="Property address" class="form-control" value="<%= @property_info.property_address %>">
      </div>

      <!-- Label and input for property_zip_code -->
      <div class="form-group">
        <label for="property_zip_code" class="control-label">
          Property zip code
        </label>

        <input type="text" id="property_zip_code" name="property_zip_code" placeholder="Property zip code" class="form-control" value="<%= @property_info.property_zip_code %>">
      </div>

      <!-- Label and input for property_city -->
      <div class="form-group">
        <label for="property_city" class="control-label">
          Property city
        </label>

        <input type="text" id="property_city" name="property_city" placeholder="Property city" class="form-control" value="<%= @property_info.property_city %>">
      </div>

      <!-- Label and input for property_state -->
      <div class="form-group">
        <label for="property_state" class="control-label">
          Property state
        </label>

        <input type="text" id="property_state" name="property_state" placeholder="Property state" class="form-control" value="<%= @property_info.property_state %>">
      </div>

      <!-- Label and input for property_acreage -->
      <div class="form-group">
        <label for="property_acreage" class="control-label">
          Property acreage
        </label>

        <input type="text" id="property_acreage" name="property_acreage" placeholder="Property acreage" class="form-control" value="<%= @property_info.property_acreage %>">
      </div>

      <!-- Label and input for property_description -->
      <div class="form-group">
        <label for="property_description" class="control-label">
          Property description
        </label>

        <input type="text" id="property_description" name="property_description" placeholder="Property description" class="form-control" value="<%= @property_info.property_description %>">
      </div>

      <!-- Label and input for property_pictures -->
      <div class="form-group">
        <label for="property_pictures" class="control-label">
          Property pictures
        </label>

        <%= cl_image_tag(@property_info.property_pictures.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="property_pictures" name="property_pictures" class="form-control">
      </div>

      <button class="btn btn-warning">
        Update Property Info
      </button>
      or
      <a href="/property_infos/<%= @property_info.id %>">Cancel</a>
    </form>
  </div>
</div>
