<div class="page-header">
  <h3>Property Info #<%= @property_info.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Landowner</dt>
      <dd><%= @property_info.landowner_id %></dd>

      <dt>Property address</dt>
      <dd><%= @property_info.property_address %></dd>

      <dt>Property zip code</dt>
      <dd><%= @property_info.property_zip_code %></dd>

      <dt>Property city</dt>
      <dd><%= @property_info.property_city %></dd>

      <dt>Property state</dt>
      <dd><%= @property_info.property_state %></dd>

      <dt>Property acreage</dt>
      <dd><%= @property_info.property_acreage %></dd>

      <dt>Property description</dt>
      <dd><%= @property_info.property_description %></dd>

      <dt>Property pictures</dt>
      <dd><img src="<%= @property_info.property_pictures %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/property_infos" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @property_info.landowner %>
        <a href="/property_infos/<%= @property_info.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_property_info/<%= @property_info.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Property info has many property_bookings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Property Bookings
      </li>

      <% @property_info.property_bookings.each do |property_booking| %>
        <li class="list-group-item">
          <a href="/property_bookings/<%= property_booking.id %>">
            <%= property_booking.property_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/property_bookings/<%= property_booking.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/property_bookings/<%= property_booking.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_property_booking/<%= property_booking.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Property info has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @property_info.reviews.each do |property_review| %>
        <li class="list-group-item">
          <a href="/property_reviews/<%= property_review.id %>">
            <%= property_review.property_review %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/property_reviews/<%= property_review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/property_reviews/<%= property_review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_property_review/<%= property_review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
